# Exploratory Data Analysis (EDA)

### An Insight into the Hub of Developers. 

* Who are they? 
* What do they do? 
* Where do they come from?

In [1]:
import pandas as pd
import numpy as np
import pandas_profiling as pp

In [2]:
#I downloaded the dataset so I can read it directly from the folder
survey_data = pd.read_csv('survey_results_public.csv')

In [3]:
survey_data.head()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [4]:
survey_data.describe()

         Respondent           Age      CompTotal  ConvertedComp   WorkWeekHrs
count  64461.000000  45446.000000   3.482600e+04   3.475600e+04  41151.000000
mean   32554.079738     30.834111  3.190464e+242   1.037561e+05     40.782174
std    18967.442360      9.585392            inf   2.268853e+05     17.816383
min        1.000000      1.000000   0.000000e+00   0.000000e+00      1.000000
25%    16116.000000     24.000000   2.000000e+04   2.464800e+04     40.000000
50%    32231.000000     29.000000   6.300000e+04   5.404900e+04     40.000000
75%    49142.000000     35.000000   1.250000e+05   9.500000e+04     44.000000
max    65639.000000    279.000000  1.111111e+247   2.000000e+06    475.000000

In [5]:
survey_data.sample(10)

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
8777,8809,I am a developer by profession,Yes,NaN,20,Yearly,NaN,NaN,Pakistan,Pakistani rupee,...,Difficult,Too long,No,"Computer science, computer engineering, or sof...",Express;Laravel;React.js,Angular;jQuery,Somewhat less welcome now than last year,40.0,7,3
41338,42002,"I am not primarily a developer, but I write co...",Yes,44.0,7,Yearly,50000.0,54049.0,Spain,European Euro,...,Easy,Too short,No,"A natural science (such as biology, chemistry,...",Express;Flask;React.js;Vue.js,Express;Flask;jQuery;React.js;Spring,Just as welcome now as I felt last year,40.0,30,24
40884,41524,I am a developer by profession,Yes,NaN,20,Monthly,50000.0,61368.0,Sweden,Swedish krona,...,NaN,NaN,NaN,Web development or web design,NaN,NaN,NaN,40.0,12,10
52226,53305,I am a developer by profession,No,25.0,22,NaN,NaN,NaN,India,NaN,...,Neither easy nor difficult,Too long,No,Web development or web design,Laravel,NaN,NaN,NaN,3,NaN
58387,59537,I am a developer by profession,Yes,22.0,16,Monthly,850.0,11028.0,Latvia,European Euro,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Express;Flask;React.js;Vue.js,ASP.NET Core;Vue.js,Just as welcome now as I felt last year,24.0,6,2
37586,37934,I am a developer by profession,Yes,NaN,NaN,NaN,NaN,NaN,Pakistan,NaN,...,NaN,NaN,NaN,NaN,Django;React.js,Angular;Angular.js;jQuery;Laravel;Vue.js,NaN,NaN,NaN,NaN
4484,4500,I am a developer by profession,Yes,28.0,12,Yearly,84000.0,84000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Express,Angular.js;Express;jQuery;React.js;Vue.js,Somewhat less welcome now than last year,40.0,16,5
51504,52570,I am a developer by profession,No,31.0,16,Yearly,117000.0,83907.0,Singapore,Singapore dollar,...,Easy,Too long,No,"Another engineering discipline (such as civil,...",NaN,NaN,Just as welcome now as I felt last year,40.0,5,4
50415,51455,I am a developer by profession,Yes,NaN,16,Monthly,NaN,NaN,India,Indian rupee,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular.js;Spring,jQuery;Laravel;React.js;Vue.js,A lot more welcome now than last year,8.0,6,Less than 1 year
10439,10472,I am a developer by profession,Yes,22.0,15,Monthly,13300.0,2232.0,India,Indian rupee,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Angular.js;Django;jQuery;Spring,Angular.js;jQuery;Spring,Just as welcome now as I felt last year,40.0,7,Less than 1 year

In [6]:
survey_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64461 entries, 0 to 64460
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Respondent                    64461 non-null  int64
 1   MainBranch                    64162 non-null  object
 2   Hobbyist                      64416 non-null  object
 3   Age                           45446 non-null  float64
 4   Age1stCode                    57900 non-null  object
 5   CompFreq                      40069 non-null  object
 6   CompTotal                     34826 non-null  float64
 7   ConvertedComp                 34756 non-null  float64
 8   Country                       64072 non-null  object
 9   CurrencyDesc                  45472 non-null  object
 10  CurrencySymbol                45472 non-null  object
 11  DatabaseDesireNextYear        44070 non-null  object
 12  DatabaseWorkedWith            49537 non-null  object
 13  DevType                       49370 non-null  object
 14  EdLevel                       57431 non-null  object
 15  Employment                    63854 non-null  object
 16  Ethnicity                     45948 non-null  object
 17  Gender                        50557 non-null  object
 18  JobFactors                    49349 non-null  object
 19  JobSat                        45194 non-null  object
 20  JobSeek                       51727 non-null  object
 21  LanguageDesireNextYear        54113 non-null  object
 22  LanguageWorkedWith            57378 non-null  object
 23  MiscTechDesireNextYear        42379 non-null  object
 24  MiscTechWorkedWith            40314 non-null  object
 25  NEWCollabToolsDesireNextYear  47287 non-null  object
 26  NEWCollabToolsWorkedWith      52883 non-null  object
 27  NEWDevOps                     42686 non-null  object
 28  NEWDevOpsImpt                 41732 non-null  object
 29  NEWEdImpt                     48465 non-null  object
 30  NEWJobHunt                    42286 non-null  object
 31  NEWJobHuntResearch            41022 non-null  object
 32  NEWLearn                      56156 non-null  object
 33  NEWOffTopic                   50804 non-null  object
 34  NEWOnboardGood                42623 non-null  object
 35  NEWOtherComms                 57205 non-null  object
 36  NEWOvertime                   43231 non-null  object
 37  NEWPurchaseResearch           37321 non-null  object
 38  NEWPurpleLink                 54803 non-null  object
 39  NEWSOSites                    58275 non-null  object
 40  NEWStuck                      54983 non-null  object
 41  OpSys                         56228 non-null  object
 42  OrgSize                       44334 non-null  object
 43  PlatformDesireNextYear        50605 non-null  object
 44  PlatformWorkedWith            53843 non-null  object
 45  PurchaseWhat                  39364 non-null  object
 46  Sexuality                     43992 non-null  object
 47  SOAccount                     56805 non-null  object
 48  SOComm                        56476 non-null  object
 49  SOPartFreq                    46792 non-null  object
 50  SOVisitFreq                   56970 non-null  object
 51  SurveyEase                    51802 non-null  object
 52  SurveyLength                  51701 non-null  object
 53  Trans                         49345 non-null  object
 54  UndergradMajor                50995 non-null  object
 55  WebframeDesireNextYear        40024 non-null  object
 56  WebframeWorkedWith            42279 non-null  object
 57  WelcomeChange                 52683 non-null  object
 58  WorkWeekHrs                   41151 non-null  float64
 59  YearsCode                     57684 non-null  object
 60  YearsCodePro                  46349 non-null  object
dtypes: float64(4), int64(1), object(56)
memory usage: 30.0+ MB

In [7]:
#view the schema data
schema = pd.read_csv('survey_results_schema.csv')

In [8]:
schema.head(60)

,Column,QuestionText
0,Respondent,Randomized respondent ID number (not in order ...
1,MainBranch,Which of the following options best describes ...
2,Hobbyist,Do you code as a hobby?
3,Age,What is your age (in years)? If you prefer not...
4,Age1stCode,At what age did you write your first line of c...
5,CompFreq,"Is that compensation weekly, monthly, or yearly?"
6,CompTotal,What is your current total compensation (salar...
7,ConvertedComp,Salary converted to annual USD salaries using ...
8,Country,Where do you live?
9,CurrencyDesc,Which currency do you use day-to-day? If your ...
10,CurrencySymbol,Which currency do you use day-to-day? If your ...
11,DatabaseDesireNextYear,Which database environments have you done exte...
12,DatabaseWorkedWith,Which database environments have you done exte...
13,DevType,Which of the following describe you? Please se...
14,EdLevel,Which of the following best describes the high...
15,Employment,Which of the following best describes your cur...
16,Ethnicity,"Which of the following describe you, if any? P..."
17,Gender,"Which of the following describe you, if any? P..."
18,JobFactors,Imagine that you are deciding between two job ...
19,JobSat,How satisfied are you with your current job? (...
20,JobSeek,Which of the following best describes your cur...
21,LanguageDesireNextYear,"Which programming, scripting, and markup langu..."
22,LanguageWorkedWith,"Which programming, scripting, and markup langu..."
23,MiscTechDesireNextYear,"Which other frameworks, libraries, and tools h..."
24,MiscTechWorkedWith,"Which other frameworks, libraries, and tools h..."
25,NEWCollabToolsDesireNextYear,Which collaboration tools have you done extens...
26,NEWCollabToolsWorkedWith,Which collaboration tools have you done extens...
27,NEWDevOps,Does your company have a dedicated DevOps person?
28,NEWDevOpsImpt,How important is the practice of DevOps to sca...
29,NEWEdImpt,"How important is a formal education, such as a..."
30,NEWJobHunt,"In general, what drives you to look for a new ..."
31,NEWJobHuntResearch,"When job searching, how do you learn more abou..."
32,NEWLearn,How frequently do you learn a new language or ...
33,NEWOffTopic,Do you think Stack Overflow should relax restr...
34,NEWOnboardGood,Do you think your company has a good onboardin...
35,NEWOtherComms,Are you a member of any other online developer...
36,NEWOvertime,How often do you work overtime or beyond the f...
37,NEWPurchaseResearch,"When buying a new tool or software, how do you..."
38,NEWPurpleLink,You search for a coding solution online and th...
39,NEWSOSites,Which of the following Stack Overflow sites ha...
40,NEWStuck,What do you do when you get stuck on a problem...
41,OpSys,What is the primary operating system in which ...
42,OrgSize,Approximately how many people are employed by ...
43,PlatformDesireNextYear,Which platforms have you done extensive develo...
44,PlatformWorkedWith,Which platforms have you done extensive develo...
45,PurchaseWhat,"What level of influence do you, personally, ha..."
46,Sexuality,"Which of the following describe you, if any? P..."
47,SOAccount,Do you have a Stack Overflow account?
48,SOComm,Do you consider yourself a member of the Stack...
49,SOPartFreq,How frequently would you say you participate i...
50,SOVisitFreq,How frequently would you say you visit Stack O...
51,SurveyEase,How easy or difficult was this survey to compl...
52,SurveyLength,How do you feel about the length of the survey...
53,Trans,Are you transgender?
54,UndergradMajor,What was your primary field of study?
55,WebframeDesireNextYear,Which web frameworks have you done extensive d...
56,WebframeWorkedWith,Which web frameworks have you done extensive d...
57,WelcomeChange,"Compared to last year, how welcome do you feel..."
58,WorkWeekHrs,"On average, how many hours per week do you wor..."
59,YearsCode,"Including any education, how many years have y..."

In [9]:
#select the  necessary columns 
update_schema = schema.iloc[[0,1,2,3,4,7,8,12,13,14,15,16,17,18,22,54,56,58,59,60]]
update_schema

                Column                                       QuestionText
0           Respondent  Randomized respondent ID number (not in order ...
1           MainBranch  Which of the following options best describes ...
2             Hobbyist                            Do you code as a hobby?
3                  Age  What is your age (in years)? If you prefer not...
4           Age1stCode  At what age did you write your first line of c...
7        ConvertedComp  Salary converted to annual USD salaries using ...
8              Country                                 Where do you live?
12  DatabaseWorkedWith  Which database environments have you done exte...
13             DevType  Which of the following describe you? Please se...
14             EdLevel  Which of the following best describes the high...
15          Employment  Which of the following best describes your cur...
16           Ethnicity  Which of the following describe you, if any? P...
17              Gender  Which of the following describe you, if any? P...
18          JobFactors  Imagine that you are deciding between two job ...
22  LanguageWorkedWith  Which programming, scripting, and markup langu...
54      UndergradMajor              What was your primary field of study?
56  WebframeWorkedWith  Which web frameworks have you done extensive d...
58         WorkWeekHrs  On average, how many hours per week do you wor...
59           YearsCode  Including any education, how many years have y...
60        YearsCodePro  NOT including education, how many years have y...

In [10]:
update_schema.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 0 to 60
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Column        20 non-null     object
 1   QuestionText  20 non-null     object
dtypes: object(2)
memory usage: 480.0+ bytes

In [11]:
#select the same columns for the main dataset
update_survey_data = survey_data[['Respondent', 'MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'ConvertedComp', 'Country',
                                 'DatabaseWorkedWith', 'DevType', 'EdLevel', 'Employment', 'Ethnicity', 'Gender', 'JobFactors',
                                 'LanguageWorkedWith', 'UndergradMajor', 'WebframeWorkedWith', 'WorkWeekHrs', 'YearsCode', 'YearsCodePro' ]]
update_survey_data

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,ConvertedComp,Country,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,LanguageWorkedWith,UndergradMajor,WebframeWorkedWith,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,NaN,Germany,Elasticsearch;Microsoft SQL Server;Oracle,"Developer, desktop or enterprise applications;...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,"Languages, frameworks, and other technologies ...",C#;HTML/CSS;JavaScript,"Computer science, computer engineering, or sof...",ASP.NET;ASP.NET Core,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,United Kingdom,NaN,"Developer, full-stack;Developer, mobile","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,NaN,NaN,JavaScript;Swift,"Computer science, computer engineering, or sof...",NaN,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Objective-C;Python;Swift,NaN,NaN,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,Albania,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",NaN,White or of European descent,Man,Flex time or a flexible schedule;Office enviro...,NaN,"Computer science, computer engineering, or sof...",NaN,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,United States,MySQL;PostgreSQL;Redis;SQLite,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,NaN,HTML/CSS;Ruby;SQL,"Computer science, computer engineering, or sof...",Ruby on Rails,NaN,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,64858,NaN,Yes,NaN,16,NaN,United States,NaN,Senior executive/VP,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed full-time,NaN,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,10,Less than 1 year
64457,64867,NaN,Yes,NaN,NaN,NaN,Morocco,Cassandra;Couchbase;DynamoDB;Elasticsearch;Fir...,NaN,NaN,Employed full-time,NaN,NaN,NaN,Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...,NaN,NaN,NaN,NaN,NaN
64458,64898,NaN,Yes,NaN,NaN,NaN,Viet Nam,NaN,NaN,Primary/elementary school,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64459,64925,NaN,Yes,NaN,NaN,NaN,Poland,Oracle,NaN,NaN,Employed full-time,NaN,NaN,NaN,HTML/CSS,NaN,NaN,NaN,NaN,NaN
64460,65112,NaN,Yes,NaN,NaN,NaN,Spain,MariaDB;Microsoft SQL Server;MySQL;Oracle,NaN,"Other doctoral degree (Ph.D., Ed.D., etc.)",Employed full-time,NaN,NaN,NaN,C#;HTML/CSS;Java;JavaScript;SQL,"Computer science, computer engineering, or sof...",Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN

In [12]:
#remove rows with missing values from data
survey_updated = update_survey_data.dropna()
survey_updated

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,ConvertedComp,Country,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,LanguageWorkedWith,UndergradMajor,WebframeWorkedWith,WorkWeekHrs,YearsCode,YearsCodePro
7,8,I am a developer by profession,Yes,36.0,12,116000.0,United States,MariaDB;MySQL;Redis,"Developer, back-end;Developer, desktop or ente...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,Remote work options;Opportunities for professi...,Python;SQL,"Computer science, computer engineering, or sof...",Flask,39.0,17,13
9,10,I am a developer by profession,Yes,22.0,14,32315.0,United Kingdom,Microsoft SQL Server,"Database administrator;Developer, full-stack;D...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed full-time,White or of European descent,Man,Flex time or a flexible schedule;How widely us...,HTML/CSS;Java;JavaScript;Python;SQL,Mathematics or statistics,Flask;jQuery,36.0,8,4
10,11,I am a developer by profession,Yes,23.0,13,40070.0,United Kingdom,Firebase;MongoDB;PostgreSQL;SQLite,"Developer, back-end;Developer, desktop or ente...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,"Flex time or a flexible schedule;Languages, fr...",C#;JavaScript;Swift,"Computer science, computer engineering, or sof...",Angular;Angular.js;Django;React.js,40.0,10,2
13,14,I am a developer by profession,Yes,27.0,13,66000.0,United States,Firebase;Microsoft SQL Server,"Developer, desktop or enterprise applications;...","Associate degree (A.A., A.S., etc.)",Employed full-time,White or of European descent,Man,Industry that I’d be working in;Flex time or a...,HTML/CSS;JavaScript;SQL;TypeScript,"Computer science, computer engineering, or sof...",Angular;Vue.js,40.0,5,1
15,16,I am a developer by profession,Yes,45.0,8,108576.0,United Kingdom,PostgreSQL,"Database administrator;Developer, back-end;Dev...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,Industry that I’d be working in;Diversity of t...,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...,"Computer science, computer engineering, or sof...",jQuery;React.js,50.0,37,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62016,63311,I am a developer by profession,Yes,27.0,16,109956.0,Brazil,Microsoft SQL Server,"Developer, full-stack;DevOps specialist","Associate degree (A.A., A.S., etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,"Flex time or a flexible schedule;Languages, fr...",C#;HTML/CSS;JavaScript;SQL;TypeScript,"Computer science, computer engineering, or sof...",Angular;ASP.NET Core,80.0,8,7
62212,63516,I am a developer by profession,Yes,30.0,21,38724.0,Singapore,Microsoft SQL Server,"Developer, full-stack","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,Southeast Asian,Man,"Languages, frameworks, and other technologies ...",C#;HTML/CSS;JavaScript;SQL,"Another engineering discipline (such as civil,...",ASP.NET;jQuery,9.0,3,5
63402,64810,I am a developer by profession,Yes,32.0,12,74500.0,United States,MariaDB;Microsoft SQL Server;MySQL,"Database administrator;Developer, back-end;Dev...",Some college/university study without earning ...,Employed full-time,White or of European descent,Man,"Flex time or a flexible schedule;Languages, fr...",Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...,"Computer science, computer engineering, or sof...",Angular;ASP.NET Core;Django;jQuery,35.0,19,7
63517,64938,I am a developer by profession,No,33.0,13,59454.0,France,DynamoDB;Elasticsearch;MongoDB;MySQL;Oracle;Po...,"Developer, back-end;DevOps specialist","Professional degree (JD, MD, etc.)",Employed full-time,White or of European descent,Woman,Flex time or a flexible schedule;Office enviro...,Assembly;C;C++;HTML/CSS;Java;JavaScript;PHP;Py...,"Computer science, computer engineering, or sof...",Django;Flask;jQuery;Ruby on Rails,40.0,20,12
63955,65414,I am a developer by profession,Yes,22.0,17,9612.0,Mauritius,Firebase;Microsoft SQL Server;MySQL,"Academic researcher;Designer;Developer, full-s...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed full-time,Black or of African descent,Man,Industry that I’d be working in;Diversity of t...,HTML/CSS;JavaScript;PHP;SQL,"Computer science, computer engineering, or sof...",Gatsby;jQuery;Laravel;React.js,40.0,5,3

In [13]:
#summarise with pandas profiling
profile = pp.ProfileReport(survey_updated) 

profile.to_file("survey.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [14]:
#total countries that took the survey
country_data = survey_updated['Country'].value_counts()
country_data.to_frame()

                   Country
United States         4526
United Kingdom        1345
Germany               1049
India                 1031
Canada                 734
...                    ...
Brunei Darussalam        1
Turkmenistan             1
Guyana                   1
Haiti                    1
Bahamas                  1

[148 rows x 1 columns]

In [15]:
#total age, you can use this to remove the ages that don't make sense, ages less than 14 and greater than 60 should be removed
age_data = survey_data['Age'].value_counts()
age_data.to_frame()

       Age
25.0  2693
28.0  2412
30.0  2406
26.0  2391
27.0  2338
...    ...
26.8     1
3.0      1
14.7     1
26.5     1
22.5     1

[110 rows x 1 columns]

# Data Visualization

# Modelling